body {
  background-color: #e5e3e6;
  font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
  font-size: 14px;
  color: #5d6066; }

h1, h2, h3, h4, h5, h6, legend {
  font-weight: normal;
  text-shadow: 0px 1px 0px #fff; }

h1 {
  font-size: 28px;
  line-height: 36px;
  padding-bottom: 18px; }

h2 {
  font-size: 24px;
  line-height: 36px;
  padding-bottom: 18px;
  clear: both; }

h3 {
  font-size: 18px;
  line-height: 18px;
  padding-bottom: 18px; }

h4 {
  font-size: 14px;
  line-height: 16px;
  padding-bottom: 2px; }

p {
  line-height: 18px;
  margin-bottom: 18px; }

a {
  color: #3399FF; }
  a img {
    border: none; }

.clear {
  clear: both;
  height: 0;
  overflow: hidden; }

#header, #content {
  clear: both;
  margin-bottom: 36px;
  overflow: hidden; }

#header {
  padding-top: 36px; }
  #header .top_menu ul {
    float: right;
    margin-bottom: 18px; }
  #header .top_menu li {
    float: left;
    font-size: 16px; }
  #header .top_menu li a {
    font-size: 16px;
    padding: 0 9px; }
  #header .logo a {
    background: url(/images/dev2010_logo.gif) no-repeat;
    display: block;
    height: 57px;
    text-indent: -9999px;
    width: 227px; }
  #header a.add_project {
    background-image: url(/images/add_project_btn.jpg);
    background-repeat: no-repeat;
    clear: both;
    display: block;
    float: right;
    margin-top: -5px;
    text-indent: -9999px;
    width: 204px;
    height: 31px; }
  #header a.add_project:hover {
    background-position: 0 -31px; }

#top_content h2 {
  background: url(/images/main_icons.gif) no-repeat;
  color: #CE3A4A;
  padding-bottom: 0px;
  padding-left: 35px;
  margi-bottom: 6px;
  line-height: 30px; }
#top_content h2.wtf {
  background-position: 0 0; }
#top_content h2.forwho {
  background-position: 0 -30px; }
#top_content h2.whoishere {
  background-position: 0 -60px; }

#content .main {
  min-height: 600px; }
  #content .main ul.items {
    margin-right: -20px; }
  #content .main li.item {
    float: left;
    margin-right: 18px;
    margin-bottom: 20px;
    text-align: right;
    width: 140px; }
    #content .main li.item .item_company {
      font-size: 10px; }
    #content .main li.item .item_link a {
      text-decoration: none;
      text-shadow: 0px 1px 0px #ffffff;
      font-size: 12px;
      line-height: 18px; }
    #content .main li.item img {
      background: #ffffff;
      border: 1px solid #C6C2C8;
      padding: 2px; }
    #content .main li.item img.img_hover {
      background: #3399FF;
      border: 1px solid #3399FF; }
#content .project_main_info {
  margin-bottom: 36px;
  overflow: hidden; }
#content .side_bar ul.banners li {
  margin-bottom: 18px;
  text-align: center; }

#footer {
  font-size: 12px;
  padding-bottom: 36px; }

.grid_4 .grid_2 {
  margin-left: 0; }

.grid_8 .grid_4 {
  margin-right: 0; }

.hr {
  background: url(/images/hr.gif) repeat-x;
  clear: both;
  height: 2px;
  margin-bottom: 16px;
  margin-left: 10px;
  margin-right: 10px;
  width: auto; }

.grid_1 .hr, .grid_2 .hr, .grid_3 .hr, .grid_4 .hr, .grid_5 .hr, .grid_6 .hr, .grid_7 .hr, .grid_8 .hr, .grid_9 .hr, .grid_10 .hr, .grid_11 .hr, .grid_12 .hr {
  margin-left: 0;
  margin-right: 0; }

fieldset {
  background: #ffffff;
  clear: both;
  border-color: #8F9AA7 #C1CAD5 #C1CAD5;
  border-style: solid;
  border-width: 1px;
  margin-bottom: 36px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }
  fieldset .field {
    background: #E6E6E6;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #CCC8CE;
    padding: 8px;
    position: relative; }
  fieldset .field.header {
    background: none;
    border-color: #CCC8CE;
    border-style: solid;
    border-width: 0 0 1px 0;
    height: 35px;
    overflow: visible; }
    fieldset .field.header span {
      display: block;
      position: absolute;
      top: -15px;
      left: 5px;
      width: 64px;
      height: 64px; }
    fieldset .field.header span.project {
      background: url(/images/form_icons.png) no-repeat; }
    fieldset .field.header span.company {
      background: url(/images/form_icons.png) no-repeat 0 -64px; }
    fieldset .field.header span.human {
      background: url(/images/form_icons.png) no-repeat 0 -128px; }
    fieldset .field.header h3 {
      color: #3399FF;
      font-weight: bold;
      margin-left: 70px;
      padding-bottom: 2px; }
    fieldset .field.header h4 {
      font-size: 12px;
      margin-left: 70px; }
  fieldset .field.bottom {
    background: none;
    height: 8px; }
  fieldset .field.button {
    background: none; }
    fieldset .field.button .create_project_btn {
      background: url(/images/create_project_btn.jpg) no-repeat;
      border: none;
      cursor: pointer;
      display: block;
      float: left;
      text-indent: -9999px;
      width: 160px;
      height: 39px; }
    fieldset .field.button .create_project_btn:hover {
      background-position: 0 -39px; }
    fieldset .field.button .cancel_link {
      float: right;
      line-height: 35px;
      margin-left: 20px; }
  fieldset #recaptcha_image {
    background: #fff;
    float: left;
    margin: 18px 0 0 0;
    width: 370px !important; }
    fieldset #recaptcha_image img {
      margin: 0 auto; }
  fieldset .recaptcha_btns {
    float: left;
    margin-top: 18px;
    padding-left: 18px; }
    fieldset .recaptcha_btns a.re_reload {
      background: url(/images/recaptcha_btns.jpg) no-repeat;
      display: block;
      text-indent: -9999px;
      width: 32px;
      height: 28px; }
    fieldset .recaptcha_btns a.re_audio {
      background: url(/images/recaptcha_btns.jpg) no-repeat 0 -28px;
      display: block;
      text-indent: -9999px;
      width: 32px;
      height: 29px; }
    fieldset .recaptcha_btns a.re_reload:hover {
      background-position: -32px 0; }
    fieldset .recaptcha_btns a.re_audio:hover {
      background-position: -32px -28px; }

.field_text {
  display: none;
  font-size: 12px;
  position: absolute;
  right: -320px;
  top: 0;
  width: 300px; }

legend {
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  font-weight: bold;
  padding: 5px 10px; }

label {
  display: block;
  float: left;
  font-size: 16px;
  font-weight: bold;
  line-height: 32px;
  text-align: right;
  text-shadow: 0px 1px 0px #ffffff;
  margin-right: 10px;
  width: 160px; }

input {
  border-color: #B7B7B7 #E8E8E8 #E8E8E8 #B7B7B7;
  border-style: solid;
  border-width: 1px;
  color: #333333;
  font-size: 14px;
  padding: 5px;
  width: 410px; }

textarea {
  border-color: #B7B7B7 #E8E8E8 #E8E8E8 #B7B7B7;
  border-style: solid;
  border-width: 1px;
  font-size: 14px;
  padding: 5px;
  width: 410px; }

select {
  border: 1px solid #999999;
  color: #111111;
  margin: 5px 0;
  padding: 5px;
  min-width: 150px; }

input.submit_button {
  background: #111111 none repeat scroll 0 0;
  border-color: #B7B7B7 #E8E8E8 #E8E8E8 #B7B7B7;
  border-style: solid;
  border-width: 1px;
  color: #FFFFFF;
  font-size: 12px;
  padding: 5px;
  width: 100px; }

input.checkbox {
  float: left;
  width: auto; }

.left {
  float: left; }

.right {
  float: right; }

#flash_notice,
#flash_error {
  padding: 5px 8px;
  margin: 10px 0; }

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6; }

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66; }

.fieldWithErrors {
  display: inline; }

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0; }
  #errorExplanation h2 {
    text-align: left;
    padding: 5px 5px 5px 15px;
    margin: 0;
    font-weight: bold;
    font-size: 12px;
    background-color: #c00;
    color: #fff; }
  #errorExplanation p {
    color: #333;
    margin-bottom: 0;
    padding: 8px; }
  #errorExplanation ul {
    margin: 2px 24px; }
    #errorExplanation ul li {
      font-size: 12px;
      list-style: disc; }
