body {
  background-color: #dcdfe4;
  font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
  font-size: 14px;
  color: #666666; }

h1, h2, h3, h4, h5, h6, legend {
  font-weight: normal;
  text-shadow: 0px 1px 0px #fff; }

h1 {
  font-size: 28px;
  line-height: 36px;
  padding-bottom: 18px; }

h2 {
  font-size: 24px;
  line-height: 36px;
  padding-bottom: 18px;
  clear: both; }

h3 {
  font-size: 18px;
  line-height: 18px;
  padding-bottom: 18px; }

h4 {
  font-size: 14px;
  line-height: 16px;
  padding-bottom: 2px; }

p {
  line-height: 18px;
  margin-bottom: 18px; }

a {
  color: #2970c0; }
  a img {
    border: none; }

.clear {
  clear: both;
  height: 0;
  overflow: hidden; }

#header, #content {
  clear: both;
  margin-bottom: 36px;
  overflow: hidden; }

#header {
  background: #194C87 url(/images/header_bg.jpg) repeat-x;
  height: 129px; }
  #header .top_menu ul {
    float: right;
    margin-top: 37px; }
  #header .top_menu li {
    float: left;
    font-size: 16px; }
    #header .top_menu li a {
      background: url(/images/top_menu.jpg) no-repeat;
      display: block;
      font-size: 16px;
      text-indent: -9999px;
      height: 59px; }
    #header .top_menu li a.all_projects {
      background-position: 0 0;
      width: 130px; }
    #header .top_menu li a.all_projects:hover {
      background-position: 0 -59px; }
    #header .top_menu li span {
      background: url(/images/top_menu.jpg) no-repeat;
      display: block;
      text-indent: -9999px;
      height: 59px; }
    #header .top_menu li span.all_projects {
      background-position: 0 -118px;
      width: 130px; }
    #header .top_menu li span.add_project {
      background-position: -302px -118px;
      width: 225px; }
    #header .top_menu li a.blog {
      background-position: -130px 0;
      width: 70px; }
    #header .top_menu li a.blog:hover {
      background-position: -130px -59px; }
    #header .top_menu li a.twitter {
      background-position: -200px 0;
      width: 102px; }
    #header .top_menu li a.twitter:hover {
      background-position: -200px -59px; }
    #header .top_menu li a.add_project {
      background-position: -302px 0px;
      width: 225px; }
    #header .top_menu li a.add_project:hover {
      background-position: -302px -59px;
      width: 225px; }
  #header .logo a {
    background: url(/images/dev2010_logo.gif) no-repeat;
    display: block;
    margin-top: 1px;
    height: 125px;
    text-indent: -9999px;
    width: 273px; }
  #header a.add_project:hover {
    background-position: 0 -31px; }

#top_content {
  overflow: hidden;
  margin-bottom: 36px; }
  #top_content .grid_12 {
    background: url(/images/top_content_bg.jpg) no-repeat;
    height: 188px; }
  #top_content a.readmore {
    background: url(/images/readmore_btn.jpg) no-repeat;
    display: block;
    text-indent: -9999px;
    margin: 28px 0 0 180px;
    width: 108px;
    height: 21px; }
  #top_content a.readmore:hover {
    background-position: 0 -21px; }
  #top_content h2 {
    background: url(/images/main_icons.gif) no-repeat;
    color: #444751;
    padding-bottom: 0px;
    padding-left: 35px;
    margin-bottom: 10px;
    margin-top: 20px;
    line-height: 30px; }
  #top_content h2.wtf {
    background-position: 0 0; }
  #top_content h2.forwho {
    background-position: 0 -30px; }
  #top_content .whoishere {
    text-align: center;
    margin-right: 20px; }
    #top_content .whoishere h3 {
      color: #ffffff;
      font-size: 100px;
      line-height: 120px;
      text-shadow: 0px -1px 0px #629314; }
    #top_content .whoishere h4 {
      color: #385410;
      font-size: 30px;
      text-shadow: 0px 1px 0px #D6E9B8; }

#top_content_small {
  overflow: hidden;
  margin-bottom: 36px; }
  #top_content_small .grid_12 {
    background: url(/images/top_content_small.jpg) no-repeat;
    height: 78px; }
  #top_content_small p {
    margin-top: 10px;
    margin-bottom: 0; }
  #top_content_small a.readmore {
    background: url(/images/readmore_btn.jpg) no-repeat;
    display: block;
    text-indent: -9999px;
    margin: 28px 0 0 20px;
    width: 108px;
    height: 21px; }
  #top_content_small a.readmore:hover {
    background-position: 0 -21px; }
  #top_content_small .whoishere h3 {
    color: #ffffff;
    font-size: 50px;
    line-height: 70px;
    text-align: center;
    margin-right: 10px;
    padding: 0;
    text-shadow: 0px -1px 0px #629314; }
  #top_content_small .whoishere h4 {
    color: #385410;
    font-size: 22px;
    text-shadow: 0px 1px 0px #D6E9B8;
    margin-top: 14px; }

#content .main {
  min-height: 600px;
  width: 640px; }
  #content .main .box {
    background: url(/images/box_bg_1.gif) repeat-y;
    margin-bottom: 36px; }
    #content .main .box .box_top {
      background: url(/images/box_bg.gif) no-repeat;
      height: 8px; }
    #content .main .box .box_bottom {
      background: url(/images/box_bg.gif) no-repeat bottom;
      clear: both;
      height: 8px; }
    #content .main .box h2 {
      background: url(/images/h2_ribbons.gif) no-repeat;
      margin: 7px 0 15px -9px;
      padding: 0;
      text-indent: -9999px;
      height: 47px; }
    #content .main .box h2.new_projects {
      background-position: 0 0;
      width: 212px; }
    #content .main .box h2.rnd_projects {
      background-position: 0 -47px;
      width: 254px; }
    #content .main .box h2.all_projects {
      background-position: 0 -94px;
      width: 254px; }
    #content .main .box .box_header {
      background: url(/images/box_header_bg.jpg) no-repeat;
      border-bottom: 1px solid #989898;
      overflow: hidden;
      padding: 18px 0 10px 0;
      margin-bottom: 18px; }
      #content .main .box .box_header h1 {
        font-size: 20px;
        font-weight: bold;
        line-height: 22px;
        padding: 0 0 5px 0; }
      #content .main .box .box_header .hr {
        background: url(/images/hr_2.gif) repeat-x;
        margin: 0 10px 5px 10px; }
  #content .main .box_2 {
    background: url(/images/box_bg_2.gif) repeat-y;
    border-top: 1px solid #D9D9D9;
    padding-top: 18px;
    overflow: hidden; }
  #content .main ul.items {
    margin-right: -20px;
    padding: 0 10px; }
  #content .main li.item {
    float: left;
    margin-right: 18px;
    margin-bottom: 20px;
    text-align: right;
    width: 140px;
    height: 130px; }
    #content .main li.item a.item_image {
      background: #ffffff;
      border: 1px solid #C6C2C8;
      display: table-cell;
      padding: 2px;
      text-align: center;
      vertical-align: middle;
      width: 140px;
      height: 107px; }
    #content .main li.item a.item_image.img_hover {
      border: 1px solid #3399FF; }
    #content .main li.item .item_company {
      font-size: 10px; }
    #content .main li.item .item_link {
      overflow: hidden;
      height: 22px; }
      #content .main li.item .item_link a {
        text-decoration: none;
        text-shadow: 0px 1px 0px #ffffff;
        font-size: 12px;
        line-height: 18px; }
  #content .main .box_2_bottom {
    background: url(/images/box_2_bottom.gif) no-repeat;
    height: 12px; }
#content .project_main_info {
  margin-bottom: 36px;
  overflow: hidden; }
  #content .project_main_info img {
    background: #ffffff;
    border: solid 1px #C6C2C8;
    padding: 2px; }
  #content .project_main_info .social_btn {
    background: url(/images/social_buttons.gif) no-repeat;
    display: block;
    text-indent: -9999px;
    float: left;
    margin-right: 10px;
    width: 110px;
    height: 31px; }
  #content .project_main_info .social_btn.twitter {
    background-position: 0 0; }
  #content .project_main_info .social_btn.facebook {
    background-position: -110px 0; }
  #content .project_main_info .social_btn.twitter:hover {
    background-position: 0 -31px; }
  #content .project_main_info .social_btn.facebook:hover {
    background-position: -110px -31px; }
  #content .project_main_info .grid_4 {
    margin-right: 10px; }
#content .side_bar {
  width: 280px; }
  #content .side_bar .added {
    background: url(/images/added_bg.jpg) no-repeat;
    margin-bottom: 36px;
    padding-right: 10px;
    text-align: right;
    width: 270px;
    height: 48px; }
    #content .side_bar .added span {
      color: #ffffff;
      font-size: 36px;
      line-height: 46px;
      text-shadow: 0px -1px 0px #629314; }
  #content .side_bar ul.banners li {
    margin-bottom: 18px;
    text-align: center; }

.pagination {
  background: url(/images/pagination_bg.jpg) no-repeat;
  clear: both;
  margin-top: -10px;
  margin-bottom: 18px;
  padding: 10px 10px 0 10px;
  height: 40px; }
  .pagination span {
    float: left;
    margin: 2px;
    padding: 3px 6px 2px; }
  .pagination a {
    display: block;
    float: left;
    margin: 2px;
    padding: 3px 6px 2px; }

#footer {
  background: #3C3F48 url(/images/footer_bg.jpg) repeat-x;
  font-size: 12px;
  padding-bottom: 36px;
  height: 40px; }
  #footer .container_12 {
    padding-top: 36px; }

.grid_4 .grid_2 {
  margin-left: 0; }

.grid_8 .grid_4 {
  margin-right: 0; }

.grid_12 .grid_4 {
  margin-right: 0; }

.grid_12 .grid_6 {
  margin-right: 0; }

.grid_12 .grid_2 {
  margin-right: 0; }

.hr {
  background: url(/images/hr.gif) repeat-x;
  clear: both;
  height: 2px;
  margin-bottom: 16px;
  margin-left: 10px;
  margin-right: 10px;
  width: auto; }

.grid_1 .hr, .grid_2 .hr, .grid_3 .hr, .grid_4 .hr, .grid_5 .hr, .grid_6 .hr, .grid_7 .hr, .grid_8 .hr, .grid_9 .hr, .grid_10 .hr, .grid_11 .hr, .grid_12 .hr {
  margin-left: 0;
  margin-right: 0; }

fieldset {
  background: #ffffff;
  clear: both;
  border-color: #8F9AA7 #C1CAD5 #C1CAD5;
  border-style: solid;
  border-width: 1px;
  margin-bottom: 36px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }
  fieldset .field {
    background: #E6E6E6;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #CCC8CE;
    padding: 8px;
    position: relative; }
  fieldset .field.header {
    background: none;
    border-color: #CCC8CE;
    border-style: solid;
    border-width: 0 0 1px 0;
    height: 35px;
    overflow: visible; }
    fieldset .field.header span {
      display: block;
      position: absolute;
      top: -15px;
      left: 5px;
      width: 64px;
      height: 64px; }
    fieldset .field.header span.project {
      background: url(/images/form_icons.png) no-repeat; }
    fieldset .field.header span.company {
      background: url(/images/form_icons.png) no-repeat 0 -64px; }
    fieldset .field.header span.human {
      background: url(/images/form_icons.png) no-repeat 0 -128px; }
    fieldset .field.header h3 {
      color: #3399FF;
      font-weight: bold;
      margin-left: 70px;
      padding-bottom: 2px; }
    fieldset .field.header h4 {
      font-size: 12px;
      margin-left: 70px; }
  fieldset .field.bottom {
    background: none;
    height: 8px; }
  fieldset .field.button {
    background: none; }
    fieldset .field.button .create_project_btn {
      background: url(/images/create_project_btn.jpg) no-repeat;
      border: none;
      cursor: pointer;
      display: block;
      float: right;
      text-indent: -9999px;
      width: 160px;
      height: 39px; }
    fieldset .field.button .create_project_btn:hover {
      background-position: 0 -39px; }
    fieldset .field.button .cancel_link {
      background: url(/images/create_project_btn.jpg) no-repeat -160px 0;
      display: block;
      float: right;
      line-height: 35px;
      margin-right: 20px;
      text-indent: -9999px;
      width: 160px;
      height: 39px; }
    fieldset .field.button .cancel_link:hover {
      background-position: -160px -39px; }
  fieldset #recaptcha_image {
    background: #fff;
    float: left;
    margin: 18px 0 0 0;
    width: 370px !important; }
    fieldset #recaptcha_image img {
      margin: 0 auto; }
  fieldset .recaptcha_btns {
    float: left;
    margin-top: 18px;
    padding-left: 18px; }
    fieldset .recaptcha_btns a.re_reload {
      background: url(/images/recaptcha_btns.jpg) no-repeat;
      display: block;
      text-indent: -9999px;
      width: 32px;
      height: 28px; }
    fieldset .recaptcha_btns a.re_audio {
      background: url(/images/recaptcha_btns.jpg) no-repeat 0 -28px;
      display: block;
      text-indent: -9999px;
      width: 32px;
      height: 29px; }
    fieldset .recaptcha_btns a.re_reload:hover {
      background-position: -32px 0; }
    fieldset .recaptcha_btns a.re_audio:hover {
      background-position: -32px -28px; }

.field_text {
  display: none;
  font-size: 12px;
  position: absolute;
  right: -320px;
  top: 0;
  width: 300px; }

legend {
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  font-weight: bold;
  padding: 5px 10px; }

label {
  display: block;
  float: left;
  font-size: 16px;
  font-weight: bold;
  line-height: 32px;
  text-align: right;
  text-shadow: 0px 1px 0px #ffffff;
  margin-right: 10px;
  width: 160px; }

input {
  border-color: #B7B7B7 #E8E8E8 #E8E8E8 #B7B7B7;
  border-style: solid;
  border-width: 1px;
  color: #333333;
  font-size: 14px;
  padding: 5px;
  width: 410px; }

textarea {
  border-color: #B7B7B7 #E8E8E8 #E8E8E8 #B7B7B7;
  border-style: solid;
  border-width: 1px;
  font-size: 14px;
  padding: 5px;
  width: 410px; }

select {
  border: 1px solid #999999;
  color: #111111;
  margin: 5px 0;
  padding: 5px;
  min-width: 150px; }

input.submit_button {
  background: #111111 none repeat scroll 0 0;
  border-color: #B7B7B7 #E8E8E8 #E8E8E8 #B7B7B7;
  border-style: solid;
  border-width: 1px;
  color: #FFFFFF;
  font-size: 12px;
  padding: 5px;
  width: 100px; }

input.checkbox {
  float: left;
  width: auto; }

.left {
  float: left; }

.right {
  float: right; }

#flash_notice,
#flash_error {
  padding: 5px 8px;
  margin: 10px 0; }

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6; }

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66; }

.fieldWithErrors {
  display: inline; }

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0; }
  #errorExplanation h2 {
    text-align: left;
    padding: 5px 5px 5px 15px;
    margin: 0;
    font-weight: bold;
    font-size: 12px;
    background-color: #c00;
    color: #fff; }
  #errorExplanation p {
    color: #333;
    margin-bottom: 0;
    padding: 8px; }
  #errorExplanation ul {
    margin: 2px 24px; }
    #errorExplanation ul li {
      font-size: 12px;
      list-style: disc; }
