%h2 Новые проекты
%ul.items
  -for project in @projects
    = render :partial => "projects/normal_item", :locals => { :project => project }
.hr
%h2 Случайные проекты
%ul.items
  -for project in @rndprojects
    = render :partial => "projects/normal_item", :locals => { :project => project }
