- title "Проекты"
.grid_8
  %h1=h yield(:title)
  %ul.items
    -for project in @projects
      = render :partial => "projects/normal_item", :locals => { :project => project }
  =will_paginate @projects, :prev_label => "← Туда", :next_label => "Сюда →"
