- title "Проекты"
.box
  .box_top
  %h2.all_projects=h yield(:title)
  %ul.items
    -for project in @projects
      = render :partial => "projects/normal_item", :locals => { :project => project }
  .box_bottom
  =will_paginate @projects, :prev_label => "← Туда", :next_label => "Сюда →"

- content_for :top_content do
  = render :partial => "layouts/top_small", :locals => { :project => @allprojects }
- content_for :side_bar do
  = render :partial => "layouts/banners"
