#top_content
  .container_12
    .grid_4
      %h2.wtf Зачем
      %p Если вы участвуете в стартапе, готовитесь начать писать блог, или ваша команда в 2010&nbsp;году собирается запустить новый Гугл — добавте ваш проект в каталог DEV2010.
    .grid_4
      %h2.forwho Кому
      %p
        Совершенно не важна сложность вашего проекта, его тематика, не важен размер команды — заявите о себе!
        %a{:href => "http://blog.dev2010.ru/post/327046304"}
          Подробнее, для чего DEV2010 может быть полезен вам.
    .grid_4
      %h2.whoishere Кто тут
      %p
        До конца года осталось 
        = (365 - Time.now.to_datetime.day).to_s + " дней."
        Проектов на сайте: 
        = @allprojects.size.to_s
    .hr
- title "Проект " + @project.name
.project_main_info
  .grid_4
    = image_tag @project.logo.url(:medium)
  .grid_4
    %h1=h yield(:title)
    %p
      %strong Сайт проекта:
      =link_to @project.site_url, @project.site_url
    %p
      %strong Разработчик:
      ="«"+ (h @project.company) + "»"
      %br
      =link_to @project.company_url, @project.company_url
    %p
      Вы можете написать о проекте:
    %p
      =link_to "В твиттер!", "http://twitter.com/home/?status="+"Мой+проект+"+@project.name+"+участвует+в+%23dev2010ru+—+http://dev2010.ru/projects/" + @project.id.to_s, :class => "social_btn twitter"
      =link_to "Facebook", "http://www.facebook.com/sharer.php?u=http://dev2010.ru/projects/"+@project.id.to_s+"&t="+"Мой+проект+"+@project.name+"на DEV2010", :class => "social_btn facebook"
.grid_8
  %p=h @project.description
