- title "Проект " + @project.name
.box
  .box_header
    .grid_5
      %h1=h yield(:title)
    .grid_3
    .hr
    .grid_8
      =link_to @project.site_url, @project.site_url
  .project_main_info
    .grid_4
      = image_tag @project.logo.url(:medium)
    .grid_4
      %p
        %strong Разработчик:
        ="«"+ (h @project.company) + "»"
        %br
        =link_to @project.company_url, @project.company_url
      %p
        Вы можете написать о проекте:
      %p
        =link_to "В твиттер!", "http://twitter.com/home/?status="+"Мой+проект+"+@project.name+"+участвует+в+%23dev2010ru+—+http://dev2010.ru/projects/" + @project.id.to_s, :class => "social_btn twitter"
        =link_to "Facebook", "http://www.facebook.com/sharer.php?u=http://dev2010.ru/projects/"+@project.id.to_s+"&t="+"Мой+проект+"+@project.name+"на DEV2010", :class => "social_btn facebook"
  .box_2
    .grid_8
      %p=h @project.description
  .box_bottom
- content_for :top_content do
  = render :partial => "layouts/top_small", :locals => { :project => @allprojects }
- content_for :side_bar do
  = render :partial => "layouts/banners"
