#top_content_small
  .container_12
    .grid_12
      .grid_4
        .whoishere
          .grid_2
            %h3
              = project.size.to_s
          .grid_2
            %h4
              проектов
              %br
              на сайте

      .grid_6
        %p Если вы участвуете в стартапе, готовитесь начать писать блог, или ваша команда в 2010&nbsp;году собирается запустить новый Гугл — добавте ваш проект в каталог DEV2010.
      .grid_2
        %a.readmore{:href => "http://blog.dev2010.ru/post/327046304"}
          Подробнее, для чего DEV2010 может быть полезен вам.
